<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>text post: {{ title }}</title>
	<link rel="stylesheet" href="../_styles/main.css">
</head>
<body>
	<div id="header">
		<h1>{{ title }}</h1>
		<span><script>document.write(window.location.href);</script></span>
	</div>
	<div id="content-main">
		{{ content | safe }}
	</div>
</body>
</html>